* {
  padding: 0;
  margin: 0.5;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
}
html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.content {
  flex: 1;
  /* padding: 1rem; */
  overflow-y: hidden;
  overflow-x: hidden;
}
