@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  display: flex;
  gap: 2rem;
  width: 100%;
  background-color: rgb(243, 243, 243);
}
.content {
  width: 100%;
  max-width: 1200px; /* Ajusta el ancho máximo del contenido */
  margin-top: 2rem;
}
