@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0.5;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 2rem;
    height: 100vh; /* Esto asegura que ocupe todo el alto de la ventana */
}

.sidebar {
    width: 17rem;
    height: 100vh;
    background-color: #14218D; 
    padding: 1rem;
    transition: width 0.5s ease-in-out;
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
}

.collapsed {
    width: 6.25rem;
}

.sidebar_top {
    /* width: max-content; */
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.sidebar_logo {
    display: grid;
    place-items: center;
    object-fit: cover;
    border-radius: 1rem;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    width: auto;  /* Añadir este estilo */
    height: auto; /* Añadir este estilo */
}


.sidebar_list {
    list-style: none;
    /* width: 4rem; */
}
.sidebar_text.hidden {
    display: none;
}

.container_toggle_sidebar_button {
    position: fixed; /* Fija el botón en relación a la ventana del navegador */
    bottom: 20px; /* Ajusta la distancia desde la parte inferior según sea necesario */
}


.toggle_sidebar_button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    margin: 10px;
    font-size: 16px;
}



.toggle_sidebar_button:hover {
    background-color: #0056b3;
}
.sidebar_link {
    text-decoration: none;
    font-size: 1rem;
    color: #fff3e9;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center; 
    margin-bottom: 1rem;
    background-color: #14218D;
    border-radius: 10px;
    transition: background-color 0.1s ease-in-out; /* Añade transición a los enlaces */

}

.sidebar_link:hover {
    background-color: #318AE4;
}

.sidebar_link.active{
    background-color: #318AE4;
    color: white;
}

.sidebar_icon {
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 0.5rem;  
}

.sidebar_name {
    margin-left: 2rem;
}

.dives{
    background-color: #9747FF;
}


